<body>
  <div class="row zxy">
    <!-- <div class="col-3 x"> -->
      <a style="font-size: 50px;color: black;" routerLink="/Main" routerLinkActive="active"><img src="../../assets/cl.png"></a>
      <!-- </div> -->
      <!-- <div class="col-3 x">
      <a style="font-size: 50px;color: black;" routerLink="/likes"  routerLinkActive=""> Likes</a>
      </div>
      <div class="col-6 x">
          <a style="font-size: 50px;color: black;" routerLink="/game"  routerLinkActive=""> Piano Game</a>
          </div> -->
</div>
  <div class="row bcd">
    <div class="col c">
      <img src="../../assets/animated-hammer-image-0014.gif" class="c">
    </div>
    
    <div class="col d">
    
      <button class="button"  (click)="myMethod($event)" (contextmenu)="myfunct($event)"  style="vertical-align:middle"><span>Click Me</span></button>
</div>
</div>
<div class="c1">
  <!-- <img [src]="imgUrl" (c)> -->
</div>

  <div class="a">
  <img [src]="imageUrl" (click)='myMethod()'> 
</div>
<div class="b">
  <img [src]="picUrl" (click)='myfunct()'>
</div>
<!-- <div class="test">TEST</div> -->

  <!-- <p>what is your name</p>
  <input type="text" #name>
  <button (click)="myfun(name.value)">submit</button>

{{out}} -->
</body>
  
 
  <!-- auxclick for middle button -->

