<!-- <div class="row">
    <img src="../../assets/tryagain.gif">
</div> -->
<div class="box-one">
<div class="row bad">
        <h1 style="font-size: 50px;">You lost</h1>
</div>
<img src="../../assets/looser.gif" style="padding: 0 0 0 110px;">
<div class="row ">
<div class="col-6 cad">
<!-- <button>Exit</button> -->
<button style="font-size: 40px;color: black;;background-color: #4CAF50; border: none;" routerLink="/Main" routerLinkActive="active">Exit</button>
</div>
<div class="col-6 dad">
    <button style="font-size: 40px;color: black;;background-color: #4CAF50; border: none;" routerLink="/Quiz" routerLinkActive="active">Tryagain</button>
</div>
</div>
</div>


