<body>
    
    <section>
       
      <div class="a">  <img src="../../assets/wel1.gif"></div>
    
        <div class="set">
            <div><img src="../../assets/yellow.png"></div>
        <div><img src="../../assets/red1.png"></div>
        <div><img src="../../assets/yellow1.png"></div>
        <div><img src="../../assets/red.png"></div>
        <div><img src="../../assets/yellow.png"></div>
        <div><img src="../../assets/red1.png"></div>
        <div><img src="../../assets/yellow1.png"></div>
        <div><img src="../../assets/red.png"></div>
        </div>
        <div class="set set2">
            <div><img src="../../assets/yellow.png"></div>
            <div><img src="../../assets/red1.png"></div>
            <div><img src="../../assets/yellow1.png"></div>
            <div><img src="../../assets/red.png"></div>
            <div><img src="../../assets/yellow.png"></div>
            <div><img src="../../assets/red1.png"></div>
            <div><img src="../../assets/yellow1.png"></div>
            <div><img src="../../assets/red.png"></div>
     </div>
     <div class="set set3">
        <div><img src="../../assets/yellow.png"></div>
        <div><img src="../../assets/red1.png"></div>
        <div><img src="../../assets/yellow1.png"></div>
        <div><img src="../../assets/red.png"></div>
        <div><img src="../../assets/yellow.png"></div>
        <div><img src="../../assets/red1.png"></div>
        <div><img src="../../assets/yellow1.png"></div>
        <div><img src="../../assets/red.png"></div>
     </div>
    </section> 
    

 </body>