<!-- <div class="row x">
    <div class="col-6 gift">
        <img src="../../assets/hi.gif">
    </div>
    <div class="col-6 gi">
        
<a style="font-size: 50px;color: black;" routerLink="/click" routerLinkActive="active">Click</a>
</div>

</div>
<div class="row y">
<a style="font-size: 50px;color: black;" routerLink="/likes"  routerLinkActive=""> Likes</a>
</div> -->
<body>
    <img src="../../assets/music.jpg" style="width: 100%;height: 100%;position: fixed;">  
<!-- <img src="../../assets/hi.gif"style="position:fixed"> -->

<div class="z">
<a style="font-size: 50px;color: black;font-family: cursive;" routerLink="/load" (click)='startTimer()' routerLinkActive=""> Piano Game</a>
<!-- <h1 style="font-weight: 500;color: black;padding: 0 0 0 10px;">“Where words leave off, music begins.” ...</h1> -->
</div>
<div class="x">
    <h1 style="font-weight: 500;color: black;">“Where words leave off, music begins.” ...</h1>
    </div>
</body>

    <!-- <div class="vide-container">
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="../../assets/stars.html" type="video/webm">  
    </video>
</div> -->
<!-- </div> -->
<!-- </div> -->