
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <title>Bootstrap Example</title>
     <meta charset="utf-8">
       <!-- <link rel="stylesheet"  href="load.css"> -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   </head> 
   <body>
    <div class="fullscreen-bg">
       <div class="loading">
        <span style="color: black;">Loading...</span>
    </div>
        <div class="vide-container">
        <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
            <source src="../../assets/music.webm" type="video/webm">  
        </video>
    </div>
    </div>
    
    </body>
    
   <!-- <div class="box-one">
     <div class="l">
         <img src="../../assets/piano1.gif">
     </div>
     <div class="p">
     <img src="../../assets/lo.gif">
    </div>
  </div> -->
 <!-- <div class="mn">
 <div id="myProgress" >
     <div class="progress-bar progress-bar-striped progress-bar-animated" id="myBar" style="width:0%"></div>
 </div>
</div>
 <br>
 <div class="p">
 
</div>
</div>
 <script>
 var i = 0;
 function move() {
   if (i == 0) {
     i = 1;
     var elem = document.getElementById("myBar");
     var width = 1;
     var id = setInterval(frame, 10);
     function frame() {
       if (width >= 100) {
         clearInterval(id);
         i = 0;
       } else {
         width++;
         elem.style.width = width + "%";
       }
     }
   }
 }
 </script> -->
 
 
 <!-- </body> -->
 </html>
 
 
 